<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<title>signup Page</title>
</head>
<body>

<div class="container">
  <form #form="ngForm" (submit)="onsubmitSignup(form)" [class.submitted]="service.SignupSubmitted">
    <div class="form-group row">
      <label for="inputName" class="col-sm-1-12 col-form-label">User Name</label>
      <div class="col-sm-1-12">
        <input type="text" class="form-control" name="userName" id="inputName" placeholder="UserName" #userName="ngModel"
         [(ngModel)]="service.UserDataObj.userName" required [class.is-invalid]="userName.touched && userName==null">
      </div>
    </div>
        <div class="form-group row">
      <label for="inputMail" class="col-sm-1-12 col-form-label">User Mail</label>
      <div class="col-sm-1-12">
        <input type="email" class="form-control" name="userMail" id="inputMail" placeholder="userMail" required
        #userMail="ngModel" [(ngModel)]="service.UserDataObj.userMail" [email]="true"
         [class.is-invalid]="userMail.touched && userMail.invalid">

      </div>
    </div>
    <div class="form-group row">
      <label for="inputGender" class="col-sm-1-12 col-form-label">User Gender(Optional)</label>
      <div class="col-sm-1-12">
        <input type="text" class="form-control" name="UserGender" id="inputGender" placeholder="M/F" #UserGender="ngModel"
         [(ngModel)]="service.UserDataObj.userGender" minlength="1" maxlength="1"
         required [class.is-invalid]="UserGender.touched && UserGender==null" placeholder="M/F">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPass" class="col-sm-1-12 col-form-label">User Password</label>
      <div class="col-sm-1-12">
        <input type="password"  class="form-control" name="userPassword" id="inputPass" placeholder="UserPass" required
        #userPassword="ngModel" [(ngModel)]="service.UserDataObj.userPassword" [class.is-invalid]="userPassword.touched && userPassword==null">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassMatch" class="col-sm-1-12 col-form-label">Confirm Password</label>
      <div class="col-sm-1-12">
        <input type="text" class="form-control" name="UserPassMatch" id="inputPassMatch" placeholder="Confirm Password" required
        >
        <div *ngIf="UserPasswordMatch!=null && userPassword!=null && userPassword.value!=UserPasswordMatch">
          <span class="text-danger">*</span>Password Doesn't Match!
        </div>
      </div>
    </div>
        <div class="form-group row">
      <label for="inputDob" class="col-sm-1-12 col-form-label">User DOB(ddmmyyyy)</label>
      <div class="col-sm-1-12">
        <input type="text" class="form-control" name="UserDob" id="inputDob" placeholder="User DOB(DDMMYYYY)" minlength="8" maxlength="8"
        #userDob="ngModel" [(ngModel)]="service.UserDataObj.userDob" [class.is-invalid]="userDob.touched && userDob==null ">
      </div>
    </div>

    <div class="container">

      <button type="submit" class="btn btn-primary rounded-2 m-1">Register</button>

    </div>
  </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
