<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>To-Do List</title>
</head>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#"
       title="Home"><i class="bi bi-house-fill"></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/" routerLinkActive="activebutton" title="Home"><i class="fas fa-home pe-2"></i>
            Home Page<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/todo_list" routerLinkActive="active" ariaCurrentWhenActive="page" title="To-Do List Page">
            <i class="fas fa-list pe-2"></i>Todolist</a>
        </li>


        <li class="nav-item" [hidden]="userid=='0'">
          <a class="btn nav-link mx-2" (click)='Signout()'  title="SignOut">
            <i class="fas fa-sign-out pe-2"></i>SignOut</a>
        </li>

        <li class="nav-item ms-3" [hidden]="userid!='0'">
          <a class="btn btn-black btn-rounded"  routerLink="/signin" routerLinkActive="activebutton" ariaCurrentWhenActive="page" title="SignIn">
            <i class="fas fa-sign-in pe-2"></i>SignIn</a>
        </li>
        <li class="nav-item ms-3" [hidden]="userid=='0'">
          <a class="btn btn-black btn-rounded"  routerLink="/profile" routerLinkActive="activebutton" ariaCurrentWhenActive="page" title="SignIn">
            <i class="fas fa-person pe-2"></i>Account</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<pre></pre>
<pre></pre>
<!-- Navbar -->

<body>

  <p>HI,<span title="UserName">{{Username?Username:'Guest'}}</span></p>

  <div class="container">
    <router-outlet></router-outlet>
</div>

  <!--  id not null  -->
  <!-- <div *ngIf="userid!=null; else elseblock1">
<p>user id is not null</p>
<div *ngIf="userid==['0'] ;else elseblock2" >

<p>user id is 0</p> -->

<!--  id not null but 0 -->
  <!-- <div class="alert-warning">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Warning!</strong> Seems you haven't logged in,Kindly log in
  </div>
  <app-signin/>

</div>
</div> -->


  <!--  id is null -->

  <!-- <ng-template #elseblock1 >

    <p>user id is null</p>
    <div class="alert-warning">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Warning!</strong> Seems you haven't logged in,Kindly log in
    </div>
  </ng-template> -->

  <!--  id not null not 0 i.e a valid user -->
  <!-- <ng-template #elseblock2>
    <p>user id is not 0</p>
    <div class="alert-info">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Welcome {{userid}}!</strong> Your ToDo's
    </div>
    <app-todolist/>
  </ng-template> -->

<!-- @if(userid!=null ){

  @if (userid=='0') {
    <script>alert('Please log-in')</script>
    <app-signin/>

  }@else{
    <app-todolist/>
  }
}
@else {
  <app-signin/>
} -->


<!-- <app-signup/> -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
