body{
  overflow:hidden;
}

.Appcontainer{
  margin: 50px 0;
}

.alert-info {
    padding: 20px;
    background-color: #22afe7;
    color: white;
  }
  .alert-danger {
    padding: 20px;
    background-color: #eb3124;
    color: white;
  }.alert-done {
    padding: 20px;
    background-color: #25e054;
    color: white;
  }.alert-warning {
    padding: 20px;
    background-color: #e0e250;
    color: white;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }

  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(0);
    transition: transform 0.3s ease-out;
    }
    .fixed.scroll {
    transform: translateY(50px);
    }

    .formSubmitNotes{
      margin-bottom: 20px;

    }

    .Todo-Card{
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
    }

    form.submitted input.ng-invalid{
      border-color:red;
    }

    .form{
      margin: 10px;
      padding: 5px;
    }

        .container-border{
      margin: 10px;
      padding:7px;
      border-radius:10px;
      border:1px solid rgb(233, 154, 35);
    }

    .text-container{
      border-radius: 5px;
      border: 1px solid black;

    }

    label{
      text-decoration: solid;
    }

    .text-center{
      align-items: center;

    }

    .text-red{color: #eb3124;}
    .text-blue{color: #0d85e7;}
    .text-yellow{color: #f0cf16;}
    .text-green{color: #16eb4b;}
    .text-orange{color: #ee9510;}

    .hidden{
      display: none;
    }

    .text-overflow{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }


    /*Progress Loader Animation*/
    .loader {
      position: relative;
      width: 80px;
      padding-top: 100px ;
    }

    .duo {
      height: 20px;
      width: 50px;
      background: hsla(0, 0%, 0%, 0.0);
      position: absolute;

    }

    .duo, .dot {
      animation-duration: 0.8s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }

    .duo1 {
      left: 0;
    }

    .duo2 {
      left: 30px
    }


    .dot {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: #333;
      position: absolute;
    }

    .dot-a {
      left: 0px;
    }

    .dot-b {
      right: 0px;
    }


    @keyframes spin {
        0% { transform: rotate(0deg) }
       50% { transform: rotate(180deg) }
      100% { transform: rotate(180deg) }
    }

    @keyframes onOff {
        0% { opacity: 0; }
       49% { opacity: 0; }
       50% { opacity: 1; }
      100% { opacity: 1; }
    }

    .duo1 {
      animation-name: spin;
    }

    .duo2 {
      animation-name: spin;
      animation-direction: reverse;
    }

    .duo2 .dot-b {
      animation-name: onOff;
    }

    .duo1 .dot-a {
      opacity: 0;
      animation-name: onOff;
      animation-direction: reverse;
    }
