<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<div class="text-center">
  <h3 >hi <span title="UserName" class="badge badge-info"><i class="bi bi-person"></i>{{usr_id>0?UserName:"Guest"}}</span></h3>

</div>
<div class="bg-body-secondary text-center px-2 rounded-2" id="NotesAddForm">
  <p class="display-6 fw-bold">To-Do's</p>
</div>

<div class="form form-control formSubmitNotes " *ngIf="usr_id>0;else formisdisabled"
  [class.submitted]="service.TodoFormSubmitted" >
  <form #form="ngForm" (submit)="onsubmitNotes(form)" >

    <div >
      <!-- <p for="inputId">UserID({{User_id}})</p> -->
      <input type="hidden" id="inputId" name="UserId" #userId="ngModel"
      [(ngModel)]="service.TodoDataObj.userId" >
    </div>
        <div >
      <!-- <p for="inputId">UserID({{User_id}})</p> -->
      <input type="hidden" id="submittedDate" name="submittedDate" #submittedDate="ngModel"
      [(ngModel)]="service.TodoDataObj.submittedDate"
      >
    </div>
        <div >
      <!-- <p for="inputId">UserID({{User_id}})</p> -->
      <input type="hidden" id="updatedDate" name="updatedDate" #updatedDate="ngModel"
      [(ngModel)]="service.TodoDataObj.updatedDate">
    </div>

    <div class="form-control">
  <input type="text" class="form-control is-valid m-2" #userTitle="ngModel" [(ngModel)]="service.TodoDataObj.userTitle" name="UserTitle" id="inputTitle" placeholder="Title" required
   [class.is-invalid]="userTitle.touched && userTitle.value==null">
   <p [hidden]="userTitle.value.length<51"><span class="text-red">*</span>Title Should not contain more than 50 words</p>
</div>

<div class="form-control">
  <input type="text" class="form-control is-valid m-2" #userMessage="ngModel" [(ngModel)]="service.TodoDataObj.userMessage" name="UserMessage" id="inputMessage" placeholder="Message" required
  [class.is-invalid]="userMessage.touched && userMessage.value==null">
  <p [hidden]="userMessage.value.length<251"><span class="text-red">*</span>Message Should not contain more than 250 words</p>

</div>

  <button type="submit" class="NotesAddBtn bg-info rounded-2 m-1" title="Add Task" id="NotesAddBtn">Add</button>
  <!-- TODO: This is for server side, there is another version for browser defaults -->
</form>
</div>

    <div class="loader text-center" [hidden]="isListLoaded">
      <div class="duo duo1">
        <div class="dot dot-a"></div>
        <div class="dot dot-b"></div>
      </div>
      <div class="duo duo2">
        <div class="dot dot-a"></div>
        <div class="dot dot-b"></div>
      </div>
    </div>

<div class="To-do-container">

      <div class=" carousel-dark px-3" *ngFor="let itemUser of service.list_User" >
        <div *ngFor="let itemTodo of service.list_Todo">
          <div *ngIf="itemUser.userId==usr_id ">
            <!-- <p>User(Count): {{service.list_Todo.length}}</p> -->
          <div *ngIf="itemTodo.userId==itemUser.userId">

<div class="card Todo-Card">

<div class="container-fluid">
  <!-- <div class="alert-warning" *ngIf="itemTodo.getid<1">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Warning!</strong> There's no Account found in session , Kindly
    <a routerLink="/signin" routerLinkActive="activebutton" ariaCurrentWhenActive="page" title="SignIn">Log in</a>
  </div> -->

          <div class="card-header  bg-dark-subtle row" >

<div id="ListCard" class="col-6" >

  <h5 class="card-title" title="Task Title">
    <!-- <label for="userTitle">Title</label><pre></pre> -->
    <p class="text-overflow" title={{itemTodo.userTitle}} >{{itemTodo.userTitle}}</p>

</h5>

</div>
<div class="col-6 text-end"><button class="btn" type="button" (click)="deleteNote(itemTodo)">
<span  title="Remove"><i class="bi bi-trash btn btn-outline-danger"></i></span></button>
</div>
          </div>
        <div class="card-body">
            <!-- <label for="userMessage">Message</label><pre></pre> -->
          {{itemTodo.userMessage}}

        </div>


        <div class="card-footer row ">
          <div class="col-6" >

            <p title="Date(dd/mm/yyyy hh:mm:ss)"><span class="badge badge-info">Created</span><span> {{itemTodo.submittedDate}} </span> &nbsp;
            <span class="badge badge-success">Updated</span><span> {{itemTodo.updatedDate}} </span></p>

          </div>

<div class="col-6 text-end"><button class="btn btn-lg" type="button" (click)="settoeditmode(itemTodo,$event)" >
<span  title="Edit" ><i class="bi bi-pencil-square btn btn-outline-warning"></i></span>
</button></div>



        </div>
      </div>

        <!-- <div id="formeditdiv">
          <form #form="ngForm" (submit)="onFormEdit(itemTodo)">
            <input type="hidden" name="userId"  [value]="itemTodo.id">
          <label>Title</label>
          <div class="form-control">

            <input type="text" class="form-control is-valid m-2"  #userTitle="ngModel"
            [(ngModel)]="service.TodoDataObj.userTitle" name="userTitle" id="userTitle"
            placeholder="Title" [value]="itemTodo.userTitle">
          </div>

          <div class="form-control">

          <label>Message</label>
          <input type="text" class="form-control is-valid m-2"  #userMessage="ngModel"
          [(ngModel)]="service.TodoDataObj.userMessage" name="userMessage" id="userMessage"
          placeholder="Message" [value]="itemTodo.userMessage">
          </div>
      <button type="submit" class="bg-info rounded-2 m-1" title="Update Task">Update</button>


        </form>

        </div> -->

      </div>
    </div>
    </div>

      </div>
      </div>
      <div *ngIf="usr_id<1">
        <div class="alert-warning">

          <strong>Warning!</strong> There's no Account found in session , Kindly
          <a routerLink="/signin" routerLinkActive="activebutton" ariaCurrentWhenActive="page" title="SignIn">Log in</a>
        </div>
      </div>
</div>
      <!-- <ng-template #ifUsernotInTodo>
        <div class="alert-warning">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>Warning!</strong> There's no Data found Create New Task
        </div>
      </ng-template> -->

      <ng-template #ifUserNotInSession>
        <div class="alert-warning">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>Warning!</strong> There's no Account found in session , Kindly
          <a class="text-black" routerLink="/signin" routerLinkActive="activebutton" ariaCurrentWhenActive="page" title="SignIn">Log in</a>
        </div>
      </ng-template>
           <ng-template #formisdisabled>
        <div class="alert-danger">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>Warning!</strong> To-do Form is Unavailable untill user Signed in

        </div>
      </ng-template>

      <div class="container">
        <router-outlet></router-outlet>
    </div>


