

<!-- form -->
  <form #form="ngForm" (submit)="onsubmitSignin(form)" [class.submitted]="service.SigninSubmitted">

    <!-- Email input -->
    <div class="form-outline mb-4">
  <label for="inputName">Email address</label>
  <input type="text" class="form-control is-valid m-2"  #userMail="ngModel" [(ngModel)]="service.UserDataObj.userMail"
  name="userMail" id="userMail" placeholder="Enter EmailId">
</div>

<!-- pass input -->
<div class="form-outline mb-4">
  <label for="inputName">Email Password</label>
  <input type="password" class="form-control is-valid m-2"  #userPassword="ngModel" [(ngModel)]="service.UserDataObj.userPassword"
  name="userPassword" id="userPassword" placeholder="Enter the Password">
</div>


    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- checkbox for Remeber me option -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" ngModel="isRemember" name="isRemember" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
      </div>

      <div class="col">
        <!-- Simple link -->
        <a class="btn bg-info" routerLink="/forgotPass" routerLinkActive="active" ariaCurrentWhenActive="page"
        title="Forgot Password">Forgot password</a>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
    <div class="invalid-feedback" title="Input Validation Message Section">
      Validation message
    </div>
    <!-- Register buttons -->
    <div class="text-center">

      <p>Not a member? <a routerLink="/signup" routerLinkActive="active">Register</a></p>
      <router-outlet name="register"></router-outlet>

    </div>
  </form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
