<div >

  <form #form="ngForm" (submit)="Verification(form)">
    <p>A mail with Verifiaction code will be sent to your Registered Mail Id.</p>
    <p>enter Mail</p>
    <input type="text" placeholder="Enter Mail" name="UserMail" #UserMail="ngModel" [(ngModel)]="EnteredMail">

    <button type="submit" title="Verify">Verify</button>
  </form>


  <form #form1="ngForm" action="javascript.void(0)" (submit)="VerfForm(form1)" >
   <p id="Result"></p>
    <input type="text" [(ngModel)]="Otp" #VerfCode="ngModel" placeholder="Enter OTP" name="VerfCode">
    <input id="BtnOTp" type="submit"  value="Send OTP" disabled>
    {{form1.value | json}}
</form>

</div>
